<div class="ssw-instagram-feed-wrap container page-width">
    <div class="section clearfix">
      <div class="sixteen columns">

        <div class="clearfix placeholder-instagram">
          
          
          <div class="ssw-html-widget ssw-instagram-widget" data-module="service" data-mobile_count_in_row="1"  data-min_items="1" data-instagram_ipp="{{section.settings.option_row}}" data-spaces="10" data-name="instagramPhotos" {{section.settings.option_galleries_id}} data-type="slide" data-count_instaimages_in_row="4" data-force="1">
            <div class="ssw-page-loading">
              <span class="ssw-spin ssw-loader"></span>
            </div>
          </div>
          
          
        </div>
      </div>
    </div>
</div>
{% schema %}
{
    "name": "Shoppable Instagram",
    "class": "ssw-instagram-section",
    "settings": [
        {
            "type": "select",
            "id": "option_galleries_id",
            "options": [
                {
                    "group": "(#2) Follow us on instagram @blacktravelbox",
                    "value": "data-gallery_id=\"2\" data-widget=\"0\"",
                    "label": "listing"
                }
            ],
            "label": "Choose gallery"
        }
    ],
    "presets": [
        {
            "name": "Shoppable Instagram",
            "category": "Image"
        }
    ]
}
{% endschema %}