{%render 'include-divider'%}

<!--  Dzenana-->
{%section 'featured-text'%}
<!--  		<section class="section">
  <div class="container content main-wrapper">
    <div class="one-whole column page"> -->
      <h1 class="center">
        {{ page.title }}
      </h1>
   
 
    
    {% render 'page-multi-column', content: page.content %}
  </div>
</section>


{%section 'custom-html'%}
{%section 'dzenana'%}



{%section 'gallery'%}

{%section 'video'%}
{%section 'html'%}
{%section 'contact-form'%}



<!-- {%section 'testimonial'%} -->
{%render 'social-icons'%}